* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eee;
}

.wrapper {
    display: flex;
    height: 100vh;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}